#communities {
  margin-bottom: 100px;
  text-align: center;
}

.community {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.community-logo {
  height: 120px;
  width: 300px;
  padding-top: 10px;
}

.community img {
  max-width: 100%;
  max-height: 100%;
}

.community a[href] {
  text-decoration: none;
}

@media screen and (max-width: 300px) {
  .community-logo {
    height: auto;
    width: auto;
  }
}
